* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #740404;
}


.container {
    width: 600px;
    background-color: #0bad54;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    border-radius: 5px;
}

.container::before {
    content: "";
    display: block;
    background-image: url(./patern.png);
    border-radius: 5px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;

}

span {
    display: block;
    font-size: 20px;
    margin-top: 20px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    position: relative;
}


h1 {
    text-transform: capitalize;
    color: goldenrod;
    font-size: 50px;
    position: relative;
}

h3 {
    font-size: 30px;
    color: white;
    margin-top: 20px;
    position: relative;

}

button {
    position: relative;
    border: none;
    font-size: 25px;
    padding: 10px;
    margin-top: 20px;
    background: goldenrod;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    color: #016f32;
    font-weight: bolder;
}

button:hover {
    background: #f5bc20;

}



button:last-child {
    margin-top: 8px;
}

.player-el {
    font-size: 20px;
    color: white;
    position: relative;
    margin-top: 20px;
}